.page {
  min-width: 320px;
  background-color: #2A2C2F;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
