.place__paragraph {
  grid-area: paragraph;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  align-self: start;
}

@media screen and (max-width: 768px) {
  .place__paragraph{
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph{
    padding: 0 16px;
    font-size: 16px;
  }
}
