.cover__overlay {
  position: relative;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 0;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #2A2C2F;
  transition: opacity .3s ease;
  opacity: .3;
  z-index: -1;
}

.cover__overlay:hover::before {
  background-color: #2A2C2F;
  opacity: .8;
}

@media screen and (max-width: 1025px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    min-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
