.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;
  background: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

