.cover__background {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background: url(../../../images/cover-trains.jpg);
  min-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-size: cover;
}

