.place {
  display: grid;
  padding-bottom: 80px;
  gap: 40px;
  grid-template-columns: 460px 484px;
  grid-template-areas:
  "title link"
  "image paragraph";
  align-items: start;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 28px;
  }
}


@media screen and (max-width: 425px) {
  .place {
    grid-template-areas:
    "title"
    "link"
    "image"
    "paragraph_top"
    "paragraph_bottom";
    gap: 32px;
    padding-bottom: 50px;
  }
}
